[buildout]
extends = http://dist.plone.org/release/3.3.5/versions.cfg
versions = versions
parts =
    zope2
    instance
    zopepy
    omelette
    roadrunner
find-links =
    http://dist.plone.org
    http://download.zope.org/ppix/
    http://download.zope.org/distribution/
    http://effbot.org/downloads
eggs =
    edrndmcc.appserver
    edrn.theme
    edrn.rdf
develop =
    src/edrn.rdf
    src/edrn.theme
    src/edrndmcc.appserver

[versions]
zc.buildout = 1.5.0b2

# [snakesql]
# recipe = zc.recipe.egg:custom
# index = http://pythonweb.org/projects/snakesql/release/0.5.2/
# egg = snakesql==0.5.2-alpha

[zope2]
recipe = plone.recipe.zope2install
url = ${versions:zope2-url}
fake-zope-eggs = true
additional-fake-eggs =
    ZConfig
    ZODB3

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:x
http-address = 8081
#debug-mode = on
#verbose-security = on
eggs =
    Plone
    PILwoTk
    ${buildout:eggs}
zcml = edrndmcc.appserver

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
extra-paths = ${zope2:location}/lib/python
scripts = zopepy

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[roadrunner]
recipe = roadrunner:plone
packages-under-test = edrn*
zope2-instance = instance
